/*
Theme Name: Audacity
Theme URI: http://audacity.com
Author: Le Grand Digital
Author URI: http://legranddigital.com/
Description:
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: Audacity

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

London Fire Brigade is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/


#cat_desc .col-md-6.col-sm-12, a.cat_desc_cta{
  display:none !important;}


body.website-3 #cat_desc .col-md-6.col-sm-12, body.website-3 a.cat_desc_cta{
  display:block !important;
}

  .wrap {
  padding: 0 10px; }

h1 {
  font-size: 45px;
  text-align: center; }

p {
  text-align: center; }

body, a {
  color: #000000; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'FontAwesome';
    src: url("fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg"); } }

@media (max-width: 768px) {
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 25px; }
  h4 {
    font-size: 20px; }
  p {
    font-size: 14px; } }

.empty {
  min-height: 1px; }

i.fa {
  text-rendering: optimizeLegibility !important; }

.item a {
  width: 100%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .item a:hover {
    cursor: pointer; }
  .item a:hover > img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
        transform: scale(1.1); }

.item img {
  width: 100%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .item img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
        transform: scale(1.1); }

ul.products article a {
  width: 100%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  ul.products article a:hover {
    cursor: pointer; }
  ul.products article a:hover > img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
        transform: scale(1.1); }

ul.products article img {
  width: 100%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  ul.products article img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
        transform: scale(1.1); }

img {
  width: 100%;
  height: auto; }

.container-fluid {
  padding: 0px; }

a.button-primary {
  padding: 10px 50px;
  border: 3px solid #33257c;
  color: #33257c;
  text-transform: initial;
  background: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  a.button-primary:hover {
    text-decoration: none; }

.black {
  color: #000000; }

.row.blue {
  background: #43bbbe;
  padding: 40px 0px;
  margin: 0px; }

h1 {
  color: white;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase; }

h2 {
  color: white;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  margin-bottom: 35px; }
  h2.black {
    color: #000000; }

.full {
  padding: 75px 0px; }
  .full.purple {
    background: #33257c;
    text-align: center; }
    .full.purple h2 {
      color: white;
      text-align: center; }
    .full.purple p {
      margin-top: 65px;
      color: white;
      text-align: center; }
  .full.blue {
    background: #43bbbe;
    text-align: center; }
    .full.blue h2 {
      color: white;
      text-align: center; }
    .full.blue p {
      margin-top: 65px;
      color: white;
      text-align: center; }

input, select, textarea {
  background: white;
  border-radius: 0px;
  border-top: 0px solid white;
  border-right: 0px solid white;
  border-left: 0px solid white; }

select {
  height: 40px; }
  select#input_2_9_4 {
    display: none; }

textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  text-transform: uppercase;
  font-weight: bold;
  bottom: 10px;
  position: relative;
  top: 40px; }

textarea:-moz-placeholder {
  /* older Firefox*/
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  text-transform: uppercase;
  font-weight: bold;
  bottom: 10px;
  position: relative;
  top: 40px; }

textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  text-transform: uppercase;
  font-weight: bold;
  bottom: 10px;
  position: relative;
  top: 40px; }

textarea:-ms-input-placeholder {
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  text-transform: uppercase;
  font-weight: bold;
  bottom: 10px;
  position: relative;
  top: 110px; }

.gform_heading, label {
  display: none !important; }

.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
  display: inline-block !important;
  padding-left: 10px !important;
  top: 4px;
  position: relative; }

.gform_wrapper ul.gfield_radio li {
  line-height: 30px !important; }

#gform_submit_button_2 {
  border: 3px solid #33257c;
  padding: 10px 70px;
  float: right;
  font-weight: bold;
  cursor: pointer !important;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  #gform_submit_button_2:hover {
    cursor: pointer !important;
    background: #33257c;
    color: white;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }

footer {
  background: #33257c;
  padding: 20px 50px;
  color: white; }
  footer a.scrolltop {
    background: #33257c;
    padding: 10px 20px;
    position: fixed;
    bottom: 100px;
    float: right;
    right: 15px;
    z-index: 9999; }
    footer a.scrolltop:hover i.fa {
      top: -3px;
      position: relative; }
    footer a.scrolltop i.fa {
      color: white;
      font-size: 40px;
      text-align: center; }
  footer img {
    width: 200px;
    padding: 20px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  footer p {
    margin-bottom: 0px;
    display: block;
    width: 100%; }
  footer .col-lg-6 {
    padding: 40px 0px;
    position: relative; }
    footer .col-lg-6 p {
      text-align: left; }
  footer .col-lg-4 {
    margin-top: 30px; }
    @media (max-width: 768px) {
      footer .col-lg-4 {
        top: 0px; } }

@media (max-width: 768px) {
  .cta {
    display: none; } }

footer {
  background: #33257c; }
  @media (max-width: 990px) {
    footer .col-lg-6 {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      text-align: center; }
      footer .col-lg-6 p {
        text-align: center; }
    footer .col-lg-4 {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; } }

@media (max-width: 990px) {
  #new_form {
    padding: 0px 60px !important; } }

html, body {
  overflow-x: hidden; }

a:hover {
  text-decoration: none; }

.logo img {
  width: 200px; }
  @media (max-width: 990px) {
    .logo img {
      width: 100%; } }

body.home #masthead.sticky {
  display: none !important; }

#masthead.sticky {
  position: fixed;
  z-index: 99999999;
  background: white !important;
  -webkit-animation: slide-down .4s;
          animation: slide-down .4s;
  opacity: 1;
  top: 0;
  display: block;
  width: 100%; }

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    opacity: 01;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    opacity: 01;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

i.fa.fa-times:hover, i.fa.fa-bars:hover {
  cursor: pointer !important; }

@media (max-width: 990px) {
  header .social {
    float: right;
    max-width: 60%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58%;
            flex: 0 0 58%; }
  header .col-lg-4, header .col-md-4.empty {
    display: none; }
  header .col-lg-5 {
    width: 70%; } }

@media (max-width: 768px) {
  header .social {
    width: 50%;
    float: right;
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
    header .social.nothome {
      top: 10px; }
    header .social i {
      display: none; }
      header .social i.fa-bars {
        display: block;
        right: 0px;
        position: absolute; } }
  @media (max-width: 768px) and (max-width: 580px) {
    header .social {
      width: 30%;
      float: right;
      max-width: 30%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 30%;
              flex: 0 0 30%; } }

@media (max-width: 768px) {
  i.fa-linkedin-square {
    display: none; }
  i.fa-facebook-square {
    display: none; }
  ul#primary-menu {
    width: 100%;
    padding: 0px; }
    ul#primary-menu li a:hover {
      text-decoration: none; } }

header {
  padding: 20px 0px;
  z-index: 999;
  position: relative;
  display: block;
  width: 100%;
  background: white; }
  header ul#primary-menu li.menu-item {
    display: inline-block;
    float: left;
    padding: 0px 15px; }
  header .fa {
    font-size: 40px;
    color: #33257c;
    margin: 0px 10px; }
  header .social {
    text-align: right;
    top: -10px;
    text-align: right;
    float: right;
    right: 0px;
    position: absolute; }
  header nav.primary-navigation {
    background: #33257c;
    color: white;
    position: fixed;
    width: 100%;
    text-align: center;
    top: 0px;
    height: 100%;
    display: none;
    z-index: 999999; }
    @media (max-width: 768px) {
      header nav.primary-navigation i.fa {
        display: inline-block;
        color: white; }
      header nav.primary-navigation .container-menu-social {
        position: absolute;
        top: 80px;
        width: 100%; } }
    header nav.primary-navigation i.fa-times {
      float: right;
      margin: 50px 0px;
      padding-right: 50px; }
    header nav.primary-navigation li {
      display: block;
      width: 100%; }
      header nav.primary-navigation li a {
        color: white;
        font-size: 34px;
        margin: 25px 0px; }
        header nav.primary-navigation li a:hover {
          cursor: pointer !important; }

body.page-template-page-holding section.armstrong {
  position: absolute;
  width: 100%;
  top: 50px;
  z-index: 999; }
  body.page-template-page-holding section.armstrong a {
    float: right; }
    body.page-template-page-holding section.armstrong a img {
      width: 300px; }

body.page-template-page-holding table tr td {
  width: 50%; }
  body.page-template-page-holding table tr td img {
    width: 100%; }
    body.page-template-page-holding table tr td img.one {
      padding-bottom: 6px; }
    body.page-template-page-holding table tr td img.two {
      padding-top: 7px; }

body.page-template-page-holding table tr td:last-child {
  padding: 11px 0px 11px 11px; }

body.page-template-page-holding section.cta-outer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 30%; }
  body.page-template-page-holding section.cta-outer .cta {
    background: white;
    padding: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    body.page-template-page-holding section.cta-outer .cta .inner {
      border: 5px solid #43bbbe;
      padding: 10px 30px;
      z-index: 9;
      position: relative; }
      body.page-template-page-holding section.cta-outer .cta .inner h1 {
        color: #33257c;
        text-transform: initial;
        font-size: 24px;
        text-align: left;
        line-height: 36px;
        margin-top: 30px; }
      body.page-template-page-holding section.cta-outer .cta .inner h2 {
        color: #43bbbe;
        text-transform: initial;
        font-size: 26px;
        text-align: left;
        font-style: italic;
        font-weight: bold;
        margin-top: 20px; }
    body.page-template-page-holding section.cta-outer .cta .box {
      width: 75px;
      height: 75px;
      background: #33257c;
      float: right;
      top: -40px;
      position: relative;
      left: 35px;
      width: 80px;
      height: 80px;
      background: #33257c; }

body.page-template-page-holding section.full.purple {
  padding: 30px 0px;
  margin: 0px 0px 50px 0px; }
  body.page-template-page-holding section.full.purple p {
    margin: 0px;
    font-weight: bold;
    font-size: 30px; }

body.page-template-page-holding section.sub-heading table {
  background: #33257c;
  width: 100%;
  margin: 0px 0px 50px 0px; }
  body.page-template-page-holding section.sub-heading table .one {
    background: white;
    width: 100%;
    height: 6px;
    margin: 10px 0px; }
  body.page-template-page-holding section.sub-heading table .two {
    background: #43bbbe;
    width: 70%;
    height: 6px;
    margin: 10px 0px; }
  body.page-template-page-holding section.sub-heading table td:first-child {
    width: 40%; }
  body.page-template-page-holding section.sub-heading table td:last-child {
    width: 60%; }
  body.page-template-page-holding section.sub-heading table td {
    padding-right: 50px; }

body.page-template-page-holding section.sub-heading p {
  margin: 0px;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 1.5px;
  text-align: left;
  color: white; }

body.page-template-page-holding section.contact {
  background-size: contain;
  background-image: url(../assets/holding/bg.jpg);
  padding-bottom: 0px;
  background-repeat: no-repeat;
  background-position-x: center; }
  body.page-template-page-holding section.contact h2 {
    font-size: 45px;
    letter-spacing: 1.5px;
    color: #33257c;
    font-weight: 300;
    text-transform: initial; }
  body.page-template-page-holding section.contact ul.gfield_radio label {
    display: inline-block !important;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 600; }
  body.page-template-page-holding section.contact li#field_2_8 {
    margin: 20px 0px !important; }
    body.page-template-page-holding section.contact li#field_2_8 .gfield_description {
      font-size: 16px !important; }
    body.page-template-page-holding section.contact li#field_2_8 ul li {
      margin-bottom: 0px !important;
      line-height: 35px; }
  body.page-template-page-holding section.contact label {
    display: none !important; }
  body.page-template-page-holding section.contact .gform_wrapper ul.gform_fields li.gfield {
    padding-right: 16px;
    padding: 5px 10px;
    background: white; }
  body.page-template-page-holding section.contact li#field_2_8 {
    background: transparent; }
  body.page-template-page-holding section.contact input, body.page-template-page-holding section.contact select, body.page-template-page-holding section.contact textarea {
    width: 100% !important;
    font-size: 16px !important;
    color: #33257c;
    border: 2px solid #43bbbe; }
  body.page-template-page-holding section.contact select {
    height: 45px; }
  body.page-template-page-holding section.contact body .gform_wrapper .top_label div.ginput_container {
    margin-top: 0px !important; }
  body.page-template-page-holding section.contact .gform_wrapper ul.gform_fields li.gfield {
    margin-top: 0px !important; }
  body.page-template-page-holding section.contact .gform_heading {
    display: none; }
  body.page-template-page-holding section.contact input#gform_submit_button_2 {
    width: 300px;
    background: #33257c;
    color: white;
    font-weight: bold;
    padding: 20px 60px;
    border: 0px solid white; }

@media (max-width: 990px) {
  body.page-template-page-holding section.cta-outer {
    height: 50%; }
  body.page-template-page-holding section.armstrong {
    position: absolute;
    width: 100%;
    top: 50px;
    z-index: 999; }
    body.page-template-page-holding section.armstrong a {
      float: right; }
      body.page-template-page-holding section.armstrong a img {
        width: 200px; } }

@media (max-width: 990px) and (max-width: 768px) {
  body.page-template-page-holding header img {
    width: 200px; }
  body.page-template-page-holding section.cta-outer .col-md-4 {
    padding: 0px !important; }
  body.page-template-page-holding section.contact {
    padding: 0px !important; }
  body.page-template-page-holding section.armstrong {
    position: absolute;
    width: 100%;
    top: 50px;
    z-index: 999; }
    body.page-template-page-holding section.armstrong a {
      float: right; }
      body.page-template-page-holding section.armstrong a img {
        width: 150px; }
  body.page-template-page-holding section.cta-outer {
    height: 0%; }
  body.page-template-page-holding section.grid table tr td {
    padding: 0px;
    width: 100%;
    display: block; }
    body.page-template-page-holding section.grid table tr td img.two {
      display: none; }
  body.page-template-page-holding section.contact {
    padding: 0px 20px; } }

body.home .container-fluid h1.showmob {
  display: none; }

body.home img.hide {
  display: none; }

body.home i.fa-play-circle-o {
  opacity: 0.7;
  font-size: 140px;
  color: white;
  display: none; }

body.home h1.mobile {
  display: none; }

body.home .modal {
  max-width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 0px; }
  body.home .modal .wp-video {
    width: 100% !important; }

body.home header {
  display: none; }

body.home footer {
  display: none; }

body.home .video {
  overflow: hidden; }
  body.home .video header {
    display: block; }
    body.home .video header .col-xl-8 {
      max-width: 63.666667%; }
      @media (max-width: 1200px) {
        body.home .video header .col-xl-8 {
          max-width: 58%; } }
      @media (max-width: 990px) {
        body.home .video header .col-xl-8 {
          max-width: 44%; } }
      @media (max-width: 768px) {
        body.home .video header .col-xl-8 {
          width: initial;
          -webkit-box-flex: initial;
              -ms-flex: initial;
                  flex: initial;
          max-width: initial; } }
    body.home .video header .col-lg-3 {
      max-width: 18%; }
      @media (max-width: 1200px) {
        body.home .video header .col-lg-3 {
          max-width: 21%; } }
      @media (max-width: 990px) {
        body.home .video header .col-lg-3 {
          max-width: 28%;
          -webkit-box-flex: 0;
              -ms-flex: 0 0 28%;
                  flex: 0 0 28%; } }
      @media (max-width: 768px) {
        body.home .video header .col-lg-3 {
          width: 0px;
          -webkit-box-flex: initial;
              -ms-flex: initial;
                  flex: initial; }
          body.home .video header .col-lg-3 i.fa-linkedin-square, body.home .video header .col-lg-3 i.fa-facebook-square {
            display: none; } }
      @media (max-width: 580px) {
        body.home .video header .col-lg-3 .col-lg-3 {
          width: 0px; } }
    @media (max-width: 768px) {
      body.home .video header .col-xl-2.col-lg-3.col-md-3 {
        max-width: initial;
        width: 82%; } }
  body.home .video video {
    position: relative;
    right: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 80vh;
    background-size: 100% 100%;
    background-color: black;
    /* in case the video doesn't fit the whole page*/
    background-position: center center;
    background-size: contain;
    -o-object-fit: cover;
       object-fit: cover;
    /*cover video background */
    z-index: -1; }
  body.home .video .layer {
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 20%;
    /* 
		* Preventing flicker on some browsers 
		* See http://stackoverflow.com/a/36671466/1081396  or issue #183
		*/
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    body.home .video .layer i.fa-play-circle-o {
      opacity: 0.7;
      font-size: 140px;
      color: white;
      display: block; }
    body.home .video .layer p {
      display: none; }
  body.home .video .container-fluid {
    max-width: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px; }
  body.home .video #video_overlay_wrapper {
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    display: block;
    margin-top: 15%; }
  body.home .video h1,
  body.home .video p {
    color: black;
    text-transform: initial;
    padding-bottom: 30px;
    background: white;
    z-index: 99;
    display: block; }
  body.home .video h1 {
    color: #33257c;
    font-size: 30px;
    top: 5px;
    position: relative; }
    @media (max-width: 1200px) {
      body.home .video h1 {
        font-size: 27px; } }
  body.home .video strong {
    font-style: italic; }
  body.home .video p {
    margin-top: 30px; }
  body.home .video .button-container-desktop {
    text-align: center;
    position: relative;
    display: block;
    margin-top: 20vh; }
    body.home .video .button-container-desktop .button-primary {
      background: none;
      border: 0px solid red; }

body.home .specificities .blue {
  background: #43bbbe;
  padding: 20px 0px; }
  body.home .specificities .blue p {
    display: block;
    margin: 20px 0px 0px 0px;
    color: white;
    width: 100%; }

body.home .specificities h2 {
  color: white;
  text-align: center;
  margin: 0 auto; }

body.home .specificities h1 {
  text-align: center;
  font-family: Montserrat,sans-serif;
  color: #333; }

body.home .specificities .accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0; }
  body.home .specificities .accordion ul li {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 33%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.4), -12px 0 8px -4px rgba(0, 0, 0, 0.4);
            box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.4), -12px 0 8px -4px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
    body.home .specificities .accordion ul li h2 {
      top: 25%;
      position: absolute;
      text-shadow: 0 0 10px #000;
      text-align: center;
      width: 100%; }
    body.home .specificities .accordion ul li .fade-content {
      opacity: 0;
      display: block;
      overflow: hidden;
      width: 100%;
      top: 40%;
      position: absolute;
      text-align: center;
      -webkit-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease; }
      body.home .specificities .accordion ul li .fade-content p {
        color: white;
        font-weight: bold;
        text-shadow: 0 0 10px #000; }
    body.home .specificities .accordion ul li div {
      display: block;
      overflow: hidden;
      width: 100%; }
      body.home .specificities .accordion ul li div.button-primary {
        padding: 10px 50px;
        border: 3px solid #33257c;
        color: #33257c;
        text-transform: initial;
        background: white;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        height: auto;
        margin: 0 auto;
        display: block; }
        body.home .specificities .accordion ul li div.button-primary a {
          text-align: center; }
          body.home .specificities .accordion ul li div.button-primary a:hover {
            -webkit-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
            background: #33257c;
            color: white; }
      body.home .specificities .accordion ul li div a {
        display: block;
        position: relative;
        z-index: 3;
        vertical-align: bottom;
        padding: 15px 50px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        color: #fff;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 0 auto;
        text-decoration: none;
        font-family: Open Sans, sans-serif;
        -webkit-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease; }
        body.home .specificities .accordion ul li div a:hover {
          -webkit-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
          background: #33257c;
          color: white; }
        body.home .specificities .accordion ul li div a * {
          opacity: 0;
          margin: 0;
          width: 100%;
          -o-text-overflow: ellipsis;
             text-overflow: ellipsis;
          position: relative;
          z-index: 5;
          white-space: nowrap;
          overflow: hidden;
          -webkit-transform: translateX(-20px);
          -ms-transform: translateX(-20px);
              transform: translateX(-20px);
          -webkit-transition: all 400ms ease;
          -o-transition: all 400ms ease;
          transition: all 400ms ease; }
        body.home .specificities .accordion ul li div a h2 {
          font-family: Montserrat,sans-serif;
          -o-text-overflow: clip;
             text-overflow: clip;
          font-size: 24px;
          text-transform: uppercase;
          margin-bottom: 2px;
          top: -10vh; }
        body.home .specificities .accordion ul li div a p {
          top: -10vh;
          font-size: 13.5px; }
  body.home .specificities .accordion ul li:nth-child(1) {
    background-image: url("../assets/img/02.jpg"); }
  body.home .specificities .accordion ul li:nth-child(2) {
    background-image: url("../assets/img/03.jpg"); }
  body.home .specificities .accordion ul li:nth-child(3) {
    background-image: url("../assets/img/04.jpg"); }
  body.home .specificities .accordion ul:hover li {
    width: 8%;
    opacity: 0.5 !important; }
    body.home .specificities .accordion ul:hover li h2 {
      opacity: 0; }
    body.home .specificities .accordion ul:hover li.button-primary {
      padding: 10px 30px;
      border: 3px solid #33257c;
      color: #33257c;
      text-transform: initial;
      background: white;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      height: auto;
      margin: 0 auto;
      display: block; }
      body.home .specificities .accordion ul:hover li.button-primary a {
        text-align: center; }
        body.home .specificities .accordion ul:hover li.button-primary a:hover {
          -webkit-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
          background: #33257c;
          color: white; }
  body.home .specificities .accordion ul:hover li:hover {
    opacity: 1 !important;
    width: 60%; }
    body.home .specificities .accordion ul:hover li:hover h2 {
      opacity: 1; }
    body.home .specificities .accordion ul:hover li:hover .fade-content {
      opacity: 1;
      -webkit-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease; }
    body.home .specificities .accordion ul:hover li:hover a {
      background: transparent; }
      body.home .specificities .accordion ul:hover li:hover a.button-primary {
        padding: 10px 30px;
        border: 3px solid #33257c;
        color: #33257c;
        text-transform: initial;
        background: white;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        height: auto;
        margin: 0 auto;
        display: block; }
        body.home .specificities .accordion ul:hover li:hover a.button-primary:hover {
          -webkit-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
          background: #33257c;
          color: white; }
        body.home .specificities .accordion ul:hover li:hover a.button-primary a {
          text-align: center; }
          body.home .specificities .accordion ul:hover li:hover a.button-primary a:hover {
            -webkit-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
            background: #33257c;
            color: white; }
      body.home .specificities .accordion ul:hover li:hover a * {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }

@media screen and (max-width: 600px) {
  body.home .specificities body {
    margin: 0; }
  body.home .specificities .accordion {
    height: auto; }
    body.home .specificities .accordion ul li, body.home .specificities .accordion ul li:hover, body.home .specificities .accordion ul:hover li, body.home .specificities .accordion ul:hover li:hover {
      position: relative;
      display: table;
      table-layout: fixed;
      width: 100%;
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }

body.home .specificities .about {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #666; }
  body.home .specificities .about a {
    color: blue;
    text-decoration: none; }
    body.home .specificities .about a:hover {
      text-decoration: underline; }

body.home .collections {
  height: 100vh !important; }
  body.home .collections .blue {
    background: #43bbbe;
    padding: 20px 0px;
    width: 100%;
    top: 0px; }
  body.home .collections h2 {
    color: white;
    text-align: center;
    margin: 0 auto; }
  body.home .collections .collections-slider {
    margin-top: 50px; }
    body.home .collections .collections-slider .slick-slide {
      margin: 0px 20px;
      opacity: 0.5;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      body.home .collections .collections-slider .slick-slide.slick-current {
        opacity: 1;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        body.home .collections .collections-slider .slick-slide.slick-current .inner-title {
          display: block; }
      body.home .collections .collections-slider .slick-slide img {
        width: 100%;
        height: auto; }
    body.home .collections .collections-slider article {
      width: 100%;
      position: relative; }
      body.home .collections .collections-slider article .inner-title {
        position: absolute;
        top: 35%;
        width: 100%;
        text-align: center;
        display: none; }
      body.home .collections .collections-slider article h2 {
        position: absolute;
        top: 0;
        text-shadow: 0 0 20px #000;
        width: 100%;
        text-align: center; }
      body.home .collections .collections-slider article a {
        top: 70px;
        position: relative;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        body.home .collections .collections-slider article a:hover {
          text-decoration: none;
          -webkit-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
          background: #33257c;
          color: white; }
    body.home .collections .collections-slider .slick-next:before, body.home .collections .collections-slider .slick-prev:before {
      content: "" !important;
      display: inline-block !important;
      padding: 12px !important;
      position: relative;
      border-color: #000 !important;
      border-style: solid !important;
      border-width: 0 4px 4px 0 !important;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    body.home .collections .collections-slider .slick-prev:before {
      left: 6px;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg); }
    body.home .collections .collections-slider .slick-next:before {
      right: 6px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    body.home .collections .collections-slider .slick-prev {
      left: 40px !important; }
    body.home .collections .collections-slider .slick-next, body.home .collections .collections-slider .slick-prev {
      height: 70px !important;
      width: 70px !important;
      z-index: 1 !important;
      background-color: #fff !important;
      border-radius: 35px;
      -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }

body.home .support .col-lg-6.first {
  padding-left: 50px; }

body.home .support .gform_wrapper textarea.medium {
  height: 80px; }

body.home .support input#input_2_9_3, body.home .support input#input_2_9_5 {
  background: #ececec !important;
  margin-top: 10px !important; }

body.home .support select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-bottom: 2px solid #efefef; }

body.home .support footer {
  margin-top: 40px;
  display: block; }

body.home .support .blue {
  background: #43bbbe;
  padding: 20px 0px;
  width: 100%;
  top: 0px; }

body.home .support h2 {
  color: white;
  text-align: center;
  margin: 0 auto;
  display: block;
  position: relative; }
  body.home .support h2.black {
    color: #000000;
    padding: 50px; }

body.home .support .col-lg-6 {
  margin: 15px 0px; }
  body.home .support .col-lg-6 img {
    position: relative; }
  body.home .support .col-lg-6 h3 {
    position: absolute;
    top: 20px;
    color: white;
    text-transform: uppercase;
    width: 92%;
    text-align: center;
    font-size: 20px;
    text-shadow: 0 0 20px #000; }

body.home .support .colmargin {
  margin-top: 30px; }

body.home #warranty-modal {
  padding: 0px;
  text-align: center; }
  body.home #warranty-modal h2 {
    margin: 0px;
    color: white;
    text-align: center;
    margin: 0 auto; }
  body.home #warranty-modal a {
    padding: 20px 0px 50px 0px;
    font-size: 24px;
    text-align: center;
    display: block; }
    body.home #warranty-modal a.residential {
      padding: 50px 0px 20px 0px; }
    body.home #warranty-modal a:hover, body.home #warranty-modal a:focus, body.home #warranty-modal a:active {
      text-decoration: none;
      color: black; }

body.home .gform_confirmation_message_2 {
  font-weight: bold;
  text-align: center;
  font-size: 24px; }

@media (max-width: 990px) {
  body.home .support .col-lg-6.first {
    padding-left: 0px; }
  body.home h1.desktop-title {
    top: -10px; }
  body.home i.fa-play-circle-o {
    font-size: 100px;
    color: white;
    display: block;
    position: absolute;
    top: 40%;
    left: 45%; }
    body.home i.fa-play-circle-o a {
      width: 100px;
      height: 100px;
      display: block;
      position: absolute;
      top: 0px; }
  body.home h1.mobile {
    display: block;
    color: black;
    text-shadow: none;
    padding: 30px 0px; }
  body.home .trigger {
    display: none; }
  body.home h1.desktop {
    display: none; }
  body.home .video p {
    padding-top: 30px !important; }
  body.home .video video {
    display: none; }
  body.home h1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  body.home img.hide {
    display: block !important;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; } }

@media (max-width: 990px) {
  body.home .video {
    padding-bottom: 50px; }
    body.home .video .layer {
      position: relative;
      margin-top: 20px; }
      body.home .video .layer h1, body.home .video .layer p {
        color: black;
        text-shadow: 0 0 0px #000;
        padding: 0px 20px;
        display: block; }
      body.home .video .layer p br {
        display: none; }
  body.home #section1.specificities .blue h2 br {
    display: none; }
  body.home #section1.specificities .blue p {
    display: none; }
  body.home #section2.collections {
    height: auto !important;
    padding-bottom: 50px; }
  body.home .section.support .row > .first {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  body.home .section.support .row > .second {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  body.home .section.support .gform_wrapper .top_label input.medium,
  body.home .section.support .gform_wrapper .top_label select.medium {
    width: 100% !important; }
  body.home .section.support .col-md-12 .col-md-6 {
    padding: 10px; }
  body.home .section.support form {
    padding: 10px; } }

@media (max-width: 768px) {
  .container-fluid h1.showmob {
    display: block !important; }
  .col-xl-2.col-lg-3.col-md-3 {
    width: 70%; }
  .col-md-7.tohide {
    display: none; }
  h1.desktop-title {
    display: none !important; }
  .logo img {
    width: 200px; }
  body.home .video strong {
    display: block;
    margin-top: 30px;
    font-size: 20px; }
  body.home i.fa-play-circle-o {
    top: 32%;
    opacity: 1;
    left: 40%; }
  .gform_wrapper textarea.medium {
    height: 80px !important; }
  body.home .collections .collections-slider .slick-next:before, body.home .collections .collections-slider .slick-prev:before {
    padding: 6px !important; }
  body.home .collections .collections-slider .slick-next:before {
    right: 3px; }
  body.home .collections .collections-slider article .inner-title {
    position: relative;
    margin-top: 40px;
    top: 0px;
    display: inline-block !important; }
    body.home .collections .collections-slider article .inner-title h2 {
      text-shadow: 0 0 00px #000;
      color: black; }
  body.home .collections .collections-slider article a {
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0px; }
  body.home .collections .collections-slider .slick-prev:before {
    left: 3px; }
  body.home .collections .collections-slider .slick-next, body.home .collections .collections-slider .slick-prev {
    width: 40px !important;
    height: 40px !important; } }

body.page-template-page-water h2 {
  font-weight: bold; }

body.page-template-page-water section {
  padding: 75px 0px; }
  body.page-template-page-water section p {
    text-align: left; }
  body.page-template-page-water section.title, body.page-template-page-water section.intro {
    padding: 0px; }
  body.page-template-page-water section.intro h2 {
    text-align: left; }
  body.page-template-page-water section.intro td {
    width: 50%;
    padding: 0px; }
  body.page-template-page-water section.intro td:last-child .inner {
    right: 50px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: white;
    padding: 35px;
    position: relative;
    z-index: 9; }
  body.page-template-page-water section.full {
    position: relative; }
    body.page-template-page-water section.full p {
      text-align: center; }
  body.page-template-page-water section #parallax-id-3 {
    positio: relative; }
  body.page-template-page-water section.construction {
    position: relative; }
    body.page-template-page-water section.construction p {
      text-align: left; }
    body.page-template-page-water section.construction td {
      padding: 10px 0px; }
      body.page-template-page-water section.construction td img {
        width: 80px;
        padding-left: 10px; }
      body.page-template-page-water section.construction td:last-child {
        margin-left: 20px;
        display: block; }

@media (max-width: 990px) {
  body.page-template-page-water p br {
    display: none; }
  body.page-template-page-water section.intro td {
    width: 100%;
    display: block; }
    body.page-template-page-water section.intro td:last-child .inner {
      right: 0px; }
      body.page-template-page-water section.intro td:last-child .inner p br {
        display: none; }
  body.page-template-page-water section.full p {
    padding: 0px 20px; } }

body.page-template-page-impressive h2 {
  font-weight: bold; }

body.page-template-page-impressive section {
  padding: 75px 0px; }
  body.page-template-page-impressive section p {
    text-align: left; }
  body.page-template-page-impressive section.title, body.page-template-page-impressive section.intro {
    padding: 0px; }
  body.page-template-page-impressive section.intro p br {
    display: none; }
  body.page-template-page-impressive section.intro h2 {
    text-align: left; }
  body.page-template-page-impressive section.intro td {
    width: 50%;
    padding: 0px; }
  body.page-template-page-impressive section.intro td:last-child table {
    width: 100%; }
    body.page-template-page-impressive section.intro td:last-child table td {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
      body.page-template-page-impressive section.intro td:last-child table td:last-child {
        right: 50px;
        position: relative; }
  body.page-template-page-impressive section.intro td:last-child img {
    width: 150px;
    display: inline;
    float: left; }
  body.page-template-page-impressive section.intro td:last-child .inner {
    right: 50px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: white;
    padding: 35px;
    position: relative;
    display: inline;
    float: left;
    z-index: 9; }
  body.page-template-page-impressive section.full {
    position: relative; }
    body.page-template-page-impressive section.full p br {
      display: none; }
  body.page-template-page-impressive section.full.blue {
    position: relative; }
    body.page-template-page-impressive section.full.blue img {
      width: 150px;
      text-align: center; }
    body.page-template-page-impressive section.full.blue p {
      margin-top: 15px; }
  body.page-template-page-impressive section.construction {
    padding: 75px 0px 130px 0px; }
    body.page-template-page-impressive section.construction .col-md-6 {
      text-align: center; }
    body.page-template-page-impressive section.construction H2 {
      color: black;
      font-weight: bold;
      text-align: center; }
    body.page-template-page-impressive section.construction p {
      text-align: center; }
    body.page-template-page-impressive section.construction img {
      width: 150px !important;
      text-align: center;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin-bottom: 20px; }
    body.page-template-page-impressive section.construction .video-slider img {
      width: 100% !important; }
  body.page-template-page-impressive section.video-slide {
    background: #ececec; }
    body.page-template-page-impressive section.video-slide img {
      width: 100%; }
    body.page-template-page-impressive section.video-slide video {
      position: absolute; }
    body.page-template-page-impressive section.video-slide h2 {
      color: black;
      text-align: left; }
      @media (max-width: 768px) {
        body.page-template-page-impressive section.video-slide h2 {
          margin-top: 40px; } }
    body.page-template-page-impressive section.video-slide p {
      margin-left: 15px; }
    body.page-template-page-impressive section.video-slide h2 {
      margin: initial;
      margin-left: 15px;
      margin-bottom: 20px; }
      @media (max-width: 768px) {
        body.page-template-page-impressive section.video-slide h2 {
          margin-top: 30px; } }
    body.page-template-page-impressive section.video-slide .align {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      /* align-self: center;    <---- REMOVE */
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      /* <---- NEW    */ }

body.page-template-page-impressive .outer-video {
  z-index: 9999999;
  display: none;
  width: 50%;
  position: absolute;
  width: 100%;
  bottom: 0vh; }
  body.page-template-page-impressive .outer-video .fa.fa-window-close {
    z-index: 99999;
    position: relative;
    display: block;
    right: 30px;
    top: 60px;
    float: right;
    font-size: 30px; }

body.page-template-page-impressive .lightbox-background {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  position: fixed;
  height: 100%;
  z-index: 999;
  top: 0px; }

@media (max-width: 990px) {
  body.page-template-page-impressive p br {
    display: none; }
  body.page-template-page-impressive section.intro td {
    width: 100%;
    display: block; }
    body.page-template-page-impressive section.intro td:last-child {
      right: 0px !important;
      width: 100% !important; }
      body.page-template-page-impressive section.intro td:last-child .inner {
        right: 0px; }
        body.page-template-page-impressive section.intro td:last-child .inner p br {
          display: none; }
      body.page-template-page-impressive section.intro td:last-child img {
        display: block;
        float: none;
        margin: 0 auto;
        position: relative; }
  body.page-template-page-impressive section.full p {
    padding: 0px 20px; }
  body.page-template-page-impressive section.full .row.grid .col-md-6 {
    width: 50%; } }

@media (max-width: 990px) and (max-width: 768px) {
  body.page-template-page-impressive section.construction {
    padding: 75px 0px; } }

@media (max-width: 990px) {
  body.page-template-page-impressive section.construction .col-md-6 img {
    width: 50%; }
  body.page-template-page-impressive section.construction .col-md-6:last-child .col-md-6 {
    width: 50%; }
    body.page-template-page-impressive section.construction .col-md-6:last-child .col-md-6 img {
      width: 100%; } }

@media (max-width: 768px) {
  .slick-next, .slick-prev {
    width: 40px !important;
    height: 40px !important; }
  .slick-next:before, .slick-prev:before {
    padding: 6px !important; } }

body.page-template-page-installation h2 {
  font-weight: bold; }

body.page-template-page-installation section {
  padding: 75px 0px; }
  body.page-template-page-installation section p {
    text-align: left; }
  body.page-template-page-installation section.title, body.page-template-page-installation section.intro {
    padding: 0px; }
  body.page-template-page-installation section.intro a:hover, body.page-template-page-installation section.intro a:focus, body.page-template-page-installation section.intro a:active {
    color: black; }
  body.page-template-page-installation section.intro p br {
    display: none; }
  body.page-template-page-installation section.intro h2 {
    text-align: left;
    font-weight: bold; }
  body.page-template-page-installation section.intro span {
    float: right; }
  body.page-template-page-installation section.intro td:last-child .inner {
    right: 50px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: white;
    padding: 35px;
    position: relative;
    z-index: 9; }
  body.page-template-page-installation section.intro td:last-child td:first-child {
    width: 70%; }
  body.page-template-page-installation section.intro td {
    padding: 0px;
    width: 50%; }
    body.page-template-page-installation section.intro td td {
      width: initial; }
    body.page-template-page-installation section.intro td:last-child img {
      padding-left: 20px; }
  body.page-template-page-installation section.full {
    position: relative; }
  body.page-template-page-installation section.construction {
    position: relative;
    padding: 75px 0px 130px 0px; }
    body.page-template-page-installation section.construction table tr td {
      width: 50%; }
    body.page-template-page-installation section.construction a {
      color: white;
      font-weight: bold;
      background: #43bbbe;
      padding: 10px 50px;
      text-align: center;
      font-size: 22px; }
      body.page-template-page-installation section.construction a:hover {
        text-decoration: none; }
    body.page-template-page-installation section.construction p {
      text-align: left; }
    body.page-template-page-installation section.construction h2 {
      color: black;
      text-align: left;
      font-weight: bold; }
    body.page-template-page-installation section.construction table {
      width: 100%; }
    body.page-template-page-installation section.construction td:last-child {
      padding-left: 20px; }
      body.page-template-page-installation section.construction td:last-child img {
        display: block;
        float: left;
        width: 33%;
        padding: 0px 10px; }
    body.page-template-page-installation section.construction td .row.icons img {
      width: 100%; }
    body.page-template-page-installation section.construction td .row.icons .col-md-3 {
      padding: 0px; }
  body.page-template-page-installation section.full.purple img {
    width: 150px;
    fill: red !important; }
  body.page-template-page-installation section.full.purple a {
    background: white;
    padding: 10px 50px;
    color: black;
    margin-top: 20px;
    font-size: 20px;
    display: block;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto; }
    body.page-template-page-installation section.full.purple a:hover {
      text-decoration: none; }

body.page-template-page-installation #warranty-modal {
  padding: 0px;
  text-align: center;
  border-radius: 0px; }
  body.page-template-page-installation #warranty-modal h2 {
    margin: 0px;
    color: white;
    text-align: center;
    margin: 0 auto; }
  body.page-template-page-installation #warranty-modal a {
    padding: 20px 0px 50px 0px;
    font-size: 24px;
    text-align: center;
    display: block; }
    body.page-template-page-installation #warranty-modal a.residential {
      padding: 50px 0px 20px 0px; }
    body.page-template-page-installation #warranty-modal a:hover, body.page-template-page-installation #warranty-modal a:focus, body.page-template-page-installation #warranty-modal a:active {
      text-decoration: none;
      color: black; }

@media (max-width: 990px) {
  body.page-template-page-installation p br {
    display: none; }
  body.page-template-page-installation section.intro td {
    width: 100%;
    display: block; }
    body.page-template-page-installation section.intro td:last-child {
      width: 100%;
      display: inline-block; }
      body.page-template-page-installation section.intro td:last-child img {
        width: 150px;
        padding-left: 0px !important;
        margin: 0 auto;
        display: block;
        margin-top: 20px;
        padding-top: 30px; } }
    @media (max-width: 990px) and (max-width: 768px) {
      body.page-template-page-installation section.intro td:last-child {
        width: 100%; } }

@media (max-width: 990px) {
      body.page-template-page-installation section.intro td:last-child .inner {
        right: 0px; }
        body.page-template-page-installation section.intro td:last-child .inner p br {
          display: none; }
  body.page-template-page-installation section.full p {
    padding: 0px 20px; } }

@media (max-width: 990px) and (max-width: 768px) {
  body.page-template-page-installation section.construction {
    padding: 75px 0px; } }

@media (max-width: 990px) {
  body.page-template-page-installation section.construction table tr td {
    width: 100%; }
  body.page-template-page-installation section.construction td {
    width: 100%;
    display: block; }
    body.page-template-page-installation section.construction td a {
      display: block; }
    body.page-template-page-installation section.construction td:last-child {
      padding-top: 50px; } }

@media (max-width: 990px) {
  body.page-template-page-installation section.intro td:last-child td:first-child {
    width: 100%; } }

body.page-template-page-collections select.cat-dropdown {
  display: none; }

body.page-template-page-collections .collections-slider-page {
  margin-bottom: 0px; }
  body.page-template-page-collections .collections-slider-page a.button {
    background: #33257c;
    color: white;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    body.page-template-page-collections .collections-slider-page a.button:hover {
      text-decoration: none; }
  body.page-template-page-collections .collections-slider-page .slick-slide {
    margin: 0px 20px;
    opacity: 0.5;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    body.page-template-page-collections .collections-slider-page .slick-slide.slick-current {
      opacity: 1;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      body.page-template-page-collections .collections-slider-page .slick-slide.slick-current .inner-title {
        display: block; }
    body.page-template-page-collections .collections-slider-page .slick-slide img {
      width: 100%;
      height: auto; }
  body.page-template-page-collections .collections-slider-page table {
    width: 100%;
    margin: 0px !important; }
    body.page-template-page-collections .collections-slider-page table tr td {
      width: 50%;
      padding: 0px; }
      body.page-template-page-collections .collections-slider-page table tr td:last-child {
        text-align: center;
        background: white;
        right: 50px;
        position: relative; }
      body.page-template-page-collections .collections-slider-page table tr td .inner {
        background: white;
        right: 50px;
        position: relative;
        padding: 50px; }

body.page-template-page-collections h2 a.cat-title {
  text-align: center;
  color: black; }
  body.page-template-page-collections h2 a.cat-title:hover {
    color: black; }

body.page-template-page-collections table {
  width: 100%; }
  body.page-template-page-collections table tr td {
    width: 50%;
    padding: 0px; }
    body.page-template-page-collections table tr td:last-child {
      text-align: center; }
    body.page-template-page-collections table tr td .inner-center {
      display: inline-block; }

body.page-template-page-collections h2,
body.page-template-page-collections p {
  text-align: left; }

body.page-template-page-collections ul.categories {
  margin-top: 75px;
  float: left; }
  body.page-template-page-collections ul.categories li {
    background: white;
    color: black;
    display: inline-block;
    float: left; }
    body.page-template-page-collections ul.categories li a {
      border: 3px solid #33257c;
      margin: 0px 10px;
      padding: 10px 30px;
      color: black;
      font-weight: bold; }
      body.page-template-page-collections ul.categories li a:hover {
        text-decoration: none; }
    body.page-template-page-collections ul.categories li:first-child a {
      background: #33257c;
      color: white; }

body.page-template-page-collections ul.products {
  padding: 0px;
  margin-top: 75px;
  float: left; }
  body.page-template-page-collections ul.products article {
    display: inline-block;
    float: left;
    margin: 10px 0px; }
    body.page-template-page-collections ul.products article a {
      display: block;
      float: left; }
    body.page-template-page-collections ul.products article h2 {
      position: absolute;
      top: 0px;
      font-size: 20px;
      font-weight: bold;
      top: 0;
      bottom: 0;
      text-align: center;
      margin: auto;
      width: 93%;
      height: 10%;
      text-shadow: 0 0 10px #000; }

.slick-next:before, .slick-prev:before {
  content: "" !important;
  display: inline-block !important;
  padding: 12px !important;
  position: relative;
  border-color: #000 !important;
  border-style: solid !important;
  border-width: 0 4px 4px 0 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  @media (max-width: 768px) {
    .slick-next:before, .slick-prev:before {
      padding: 6px !important; } }

.slick-prev:before {
  left: 6px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

.slick-next:before {
  right: 6px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.slick-prev {
  left: 40px !important; }

.slick-next {
  right: 40px !important; }

.slick-next, .slick-prev {
  height: 70px !important;
  width: 70px !important;
  z-index: 1 !important;
  background-color: #fff !important;
  border-radius: 35px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  @media (max-width: 768px) {
    .slick-next, .slick-prev {
      width: 40px !important;
      height: 40px !important; } }

footer {
  float: left;
  width: 100%; }

@media (max-width: 1024px) {
  body.page-template-page-collections ul.products article h2 {
    font-size: 16px; }
  body.page-template-page-collections .collections-slider-page table tr td:last-child {
    right: 0px; } }

@media (max-width: 990px) {
  body.page-template-page-collections ul.categories {
    display: none; }
  body.page-template-page-collections select.cat-dropdown {
    width: 95%;
    margin: 0 auto;
    display: block;
    background: #33257c;
    border: 0px;
    padding: 10px;
    color: white;
    margin-top: 40px;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    background-image: url(http://redcube.lk/images/icons/rightArrow.png);
    text-transform: uppercase;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 7px; }
  body.page-template-page-collections ul.products {
    margin-top: 35px; } }

@media (max-width: 768px) {
  body.page-template-page-collections .collections-slider-page table tr td {
    width: 100%;
    float: left;
    display: block; }
  body.page-template-page-collections button.slick-arrow {
    margin-top: -50px; }
  body.page-template-page-collections .collections-slider-page table tr td .inner {
    right: 0px;
    padding: 0px;
    margin-top: 20px; }
    body.page-template-page-collections .collections-slider-page table tr td .inner h2 {
      text-align: center; }
    body.page-template-page-collections .collections-slider-page table tr td .inner p {
      margin: 0px 20px; } }

body.archive.category select.cat-dropdown {
  display: none; }

body.archive.category .collections-slider-page {
  margin-bottom: 0px; }
  body.archive.category .collections-slider-page a.button {
    background: #33257c;
    color: white;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    body.archive.category .collections-slider-page a.button:hover {
      text-decoration: none; }
  body.archive.category .collections-slider-page .slick-slide {
    margin: 0px 20px;
    opacity: 0.5;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    body.archive.category .collections-slider-page .slick-slide.slick-current {
      opacity: 1;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      body.archive.category .collections-slider-page .slick-slide.slick-current .inner-title {
        display: block; }
    body.archive.category .collections-slider-page .slick-slide img {
      width: 100%;
      height: auto; }
  body.archive.category .collections-slider-page table {
    width: 100%;
    margin: 0px !important; }
    body.archive.category .collections-slider-page table tr td {
      width: 50%;
      padding: 0px; }
      body.archive.category .collections-slider-page table tr td:last-child {
        text-align: center;
        background: white;
        right: 50px;
        position: relative; }
      body.archive.category .collections-slider-page table tr td .inner {
        background: white;
        right: 50px;
        position: relative;
        padding: 50px; }

body.archive.category h2 a.cat-title {
  text-align: center;
  color: black; }
  body.archive.category h2 a.cat-title:hover {
    color: black; }

body.archive.category h2,
body.archive.category p {
  text-align: left; }

body.archive.category ul.categories {
  margin-top: 75px;
  float: left; }
  body.archive.category ul.categories li {
    background: white;
    color: black;
    display: inline-block;
    float: left; }
    body.archive.category ul.categories li a {
      color: black;
      font-weight: bold;
      border: 3px solid #33257c;
      margin: 0px 10px;
      padding: 10px 30px; }
      body.archive.category ul.categories li a:hover {
        text-decoration: none; }
    body.archive.category ul.categories li.current-cat a {
      background: #33257c;
      color: white; }

body.archive.category ul.products {
  padding: 0px;
  margin-top: 75px;
  width: 100%;
  display: inline-block; }
  body.archive.category ul.products article {
    display: inline-block;
    float: left;
    margin: 10px 0px; }
    body.archive.category ul.products article a {
      display: block;
      float: left; }
    body.archive.category ul.products article h2 {
      position: absolute;
      top: 0px;
      font-size: 20px;
      font-weight: bold;
      top: 0;
      bottom: 0;
      text-align: center;
      margin: auto;
      width: 93%;
      height: 10%;
      text-shadow: 0 0 10px #000; }

footer {
  float: left;
  width: 100%; }

@media (max-width: 1024px) {
  body.archive.category ul.products article h2 {
    font-size: 16px; }
  body.archive.category .collections-slider-page table tr td:last-child {
    right: 0px; } }

@media (max-width: 990px) {
  body.archive.category ul.categories {
    display: none; }
  body.archive.category select.cat-dropdown {
    width: 95%;
    margin: 0 auto;
    display: block;
    background: #33257c;
    border: 0px;
    padding: 10px;
    color: white;
    margin-top: 40px;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    background-image: url(http://redcube.lk/images/icons/rightArrow.png);
    text-transform: uppercase;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 7px; }
  body.archive.category ul.products {
    margin-top: 35px; } }

@media (max-width: 768px) {
  body.archive.category .collections-slider-page table tr td {
    width: 100%;
    float: left;
    display: block; }
  body.archive.category button.slick-arrow {
    margin-top: -50px; }
  body.archive.category .collections-slider-page table tr td .inner {
    right: 0px;
    padding: 0px;
    margin-top: 20px; }
    body.archive.category .collections-slider-page table tr td .inner h2 {
      text-align: center; }
    body.archive.category .collections-slider-page table tr td .inner p {
      margin: 0px 20px; } }

body.single-post .gform_heading, body.single-post label {
  display: inline-block !important; }

body.single-post .carousel-item img {
  height: 100%; }

body.single-post .carousel-control-next-icon {
  right: 20px;
  position: relative; }

body.single-post section.heading td {
  width: 50%;
  padding: 0px; }
  body.single-post section.heading td.go {
    position: relative; }

body.single-post section.heading h2 {
  font-weight: bold;
  text-align: left; }

body.single-post section.heading p {
  text-align: left; }

body.single-post section.heading .inner-center {
  right: 50px;
  background: white;
  padding: 20px;
  position: relative; }

body.single-post section.product-details {
  padding: 50px 0px; }
  body.single-post section.product-details ul.post-categories {
    padding: 0px;
    margin-bottom: 0px; }
    body.single-post section.product-details ul.post-categories li {
      list-style: none;
      margin-bottom: 0px; }
  body.single-post section.product-details table {
    width: 100%; }
    body.single-post section.product-details table tr {
      border-bottom: 2px solid #33257c; }
    body.single-post section.product-details table td {
      width: 25%;
      text-align: left;
      padding: 7px 15px;
      height: 65px; }
      body.single-post section.product-details table td:first-child, body.single-post section.product-details table td:nth-child(3) {
        font-weight: bold;
        text-transform: uppercase; }
    body.single-post section.product-details table.mobile {
      display: none; }

body.single-post section.tab-info {
  background: #efefef; }
  body.single-post section.tab-info p {
    margin: 0 0 20px;
    line-height: 1.5; }
  body.single-post section.tab-info main {
    width: 100%;
    padding: 50px;
    margin: 0 auto;
    text-align: center; }
  body.single-post section.tab-info section {
    display: none;
    padding: 20px 0 0; }
  body.single-post section.tab-info input {
    display: none; }
  body.single-post section.tab-info label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 0px 0px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    border: 1px solid transparent;
    color: black;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center; }
    body.single-post section.tab-info label[for=tab2] {
      border-right: 0px solid white; }
  body.single-post section.tab-info label:hover {
    cursor: pointer; }
  body.single-post section.tab-info input:checked + label {
    font-weight: bold; }
  body.single-post section.tab-info #tab1:checked ~ #content1,
  body.single-post section.tab-info #tab2:checked ~ #content2 {
    display: block; }
  body.single-post section.tab-info h2 {
    position: absolute;
    top: 0px;
    font-size: 20px;
    font-weight: bold;
    top: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
    width: 93%;
    height: 10%;
    text-shadow: 0 0 10px #000; }
  body.single-post section.tab-info .col-md-4 {
    margin: 15px 0px; }

@media (max-width: 1024px) {
  body.single section.heading .carousel-control-next-icon {
    right: 0px;
    position: relative; }
  body.single section.heading table tr td .inner-center {
    right: 0px; }
    body.single section.heading table tr td .inner-center h2 {
      text-align: center;
      margin: 0px 20px; }
    body.single section.heading table tr td .inner-center p {
      margin: 0px 20px; }
      body.single section.heading table tr td .inner-center p br {
        display: none; } }

@media (max-width: 1024px) and (max-width: 768px) {
  body.single section.heading table tr td {
    width: 100%;
    display: block;
    float: left; }
  body.single section.heading h2 {
    margin-bottom: 20px !important; }
  body.single section.product-details table {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block; }
    body.single section.product-details table tbody {
      display: block;
      width: 100%; }
      body.single section.product-details table tbody tr {
        border-bottom: 0px solid white; }
        body.single section.product-details table tbody tr td {
          width: 100%;
          display: block;
          float: left;
          text-align: center;
          height: initial; }
          body.single section.product-details table tbody tr td:nth-child(even) {
            border-bottom: 2px solid #33257c; }
      body.single section.product-details table tbody.desktop {
        display: none; }
      body.single section.product-details table tbody.mobile {
        display: block; } }

body.page-template-page-faq .section.faq {
  padding-top: 50px; }

body.page-template-page-faq h3 {
  color: black;
  font-weight: 600;
  padding-bottom: 5px; }
  body.page-template-page-faq h3:hover, body.page-template-page-faq h3:focus, body.page-template-page-faq h3.active {
    color: black;
    text-decoration: none; }

body.page-template-page-faq h3:hover {
  color: black !important; }

body.page-template-page-faq h2 {
  color: black;
  text-align: left;
  margin: 50px 0px; }

body.page-template-page-faq .accordion p {
  text-align: left; }
  body.page-template-page-faq .accordion p a {
    text-decoration: underline; }

body.page-template-page-faq .accordion dt {
  padding: 10px 0px; }

body.page-template-page-faq .accordion.maintenance {
  padding-bottom: 50px; }
