@include breakpoint($tablet-portrait) {

    header{

    .social{
        float: right;
        max-width: 60%;
        flex: 0 0 58%;
}

.col-lg-4, .col-md-4.empty{
    display: none;
}

.col-lg-5{
    width:70%;
}
    }

}

@include breakpoint($mobile) {

    header{
    .social{
        &.nothome{
            top:10px;
        }
        width: 50%;
        float: right;
        max-width: 50%;
        flex: 0 0 50%;
        i{
            display:none;

            &.fa-bars{
                display: block;
                right: 0px;
                position: absolute;
            }
        }

        @include breakpoint($sm-mobile) {
            width: 30%;
            float: right;
            max-width: 30%;
            flex: 0 0 30%;


        }
}
    }

    i.fa-linkedin-square{
        display:none
    }

    i.fa-facebook-square{
        display:none
    }


    ul#primary-menu{
        width: 100%;
        padding: 0px;

        li{
            a{
                &:hover{
                    text-decoration: none
                }
            }
        }
    }
}