html, body{
    overflow-x: hidden
}
    a:hover{
        text-decoration: none;
    }
    .logo{
    img{
        width: 200px;
        @include breakpoint($tablet-portrait) {
            width: 100%
        }
    }

    
}



body.home #masthead.sticky{
    display: none !important

}
#masthead.sticky{
    position: fixed;
    z-index:99999999;
    background:white !important;
    animation:slide-down .4s;
    opacity:1;
    top: 0;
    display: block;
    width:100%;}

    @keyframes slide-down {
        0% {
        opacity: 0;
        transform: translateY(-100%);
        } 
        100% {
        opacity: 01;
        transform: translateY(0);
        } 
        }

i.fa.fa-times:hover, i.fa.fa-bars:hover{
    cursor: pointer !important;
}