body.single-post {

    .gform_heading, label{
        display:inline-block !important
    }

   .carousel-item img{
       height: 100%
   }
   .carousel-control-next-icon{
       right:20px;
       position: relative;
   }
    section.heading {
        td {
            width: 50%;
            padding: 0px;

            &.go{
                position: relative;
            }
        }
        h2 {
            font-weight: bold;
            text-align: left;
        }
        p {
            text-align: left;
        }
        .inner-center {
            right: 50px;
            background: white;
            padding: 20px;
            position: relative;
        }
    }
    section.product-details {
        padding: 50px 0px;

        ul.post-categories{
            padding:0px;
            margin-bottom: 0px;

            li{
                list-style: none;
                margin-bottom: 0px;
            }
        }
        table {
            width: 100%;
            tr {
                border-bottom: 2px solid $purple;
                // &:last-child {
                //     border-bottom: 0px solid white;
                // }
            }
            td {
                width: 25%;
                text-align: left;
                padding: 7px 15px;
                height: 65px;
                &:first-child,
                &:nth-child(3) {
                    font-weight: bold;
                    text-transform: uppercase
                }
            }

               
        &.mobile{
            display: none
        }
        
        }
     
    }
    section.tab-info {
        background: $grey;
        p {
            margin: 0 0 20px;
            line-height: 1.5;
        }
        main {
            width: 100%;
            padding: 50px;
            margin: 0 auto;
            text-align: center
        }
        section {
            display: none;
            padding: 20px 0 0;
        }
        input {
            display: none;
        }
        label {
            display: inline-block;
            margin: 0 0 -1px;
            padding: 0px 0px;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            border: 1px solid transparent;
            color: black;
            font-weight: normal;
            text-transform: uppercase;
            text-align: center;
            // border-right: 2px solid $purple;
            &[for=tab2] {
                border-right: 0px solid white;
            }
        }
        label:hover {
            cursor: pointer;
        }
        input:checked+label {
            font-weight: bold;
        }
        #tab1:checked~#content1,
        #tab2:checked~#content2 {
            display: block;
        }

        h2 {
            position: absolute;
            top: 0px;
            font-size: 20px;
            font-weight: bold;
            top: 0;
            bottom: 0;
            text-align: center;
            margin: auto;
            width: 93%;
            height: 10%;
            text-shadow: 0 0 10px #000;
        }

        .col-md-4{
            margin: 15px 0px;
        }
    }
}