body.single {
    
    @include breakpoint($tablet-lanscape) {

        section.heading{
            .carousel-control-next-icon{
                right:0px;
                position: relative;
            }
            table{
                tr{
                    td{
                      

                        .inner-center{
                            right: 0px;

                            h2{
                                text-align: center;
                                margin: 0px 20px;
                            }

                            p{
                                margin:0px 20px;

                                br{
                                    display: none
                                }
                            }

                        }
                    }
                }
            }
        }

        @include breakpoint($mobile) {

            section.heading{

                table{
                    tr{
                        td{
                            width: 100%;
                            display: block;
                            float: left;
                        }
                    }
                }

                
                    h2{
                        margin-bottom: 20px !important;
                    }
                
            }

        section.product-details{

        
            table{
                margin-left: auto;
                margin-right: auto;
                position: relative;
                display: block;

                tbody{
                    display:block;
                    width: 100%;

                tr{

                    border-bottom: 0px solid white;
                    td{
                        width: 100%;
                        display: block;
                        float: left;
                        text-align: center;
                        height: initial;

                        &:nth-child(even){
                            border-bottom: 2px solid $purple;

                        }
                    }
                }

                &.desktop{
                    display: none
                }

                &.mobile{
                    display:block
                }
            }
            }
        }
    }
    }
}
        