@include breakpoint($tablet-portrait) {
    body.page-template-page-impressive {
        p br {
            display: none
        }
        section.intro td {
            width: 100%;
            display: block;
            &:last-child {
                right: 0px !important;
                width: 100% !important;
                .inner {
                    right: 0px;
                    p br {
                        display: none
                    }
         
                }

                img {
                    display: block;
                    float: none;
                    margin: 0 auto;
                    position: relative;
                }
            }
        }
        section.full {
            p {
                padding: 0px 20px;
            }

        .row.grid{
            .col-md-6{
                width:50%
            }
        }
        }

        section.construction{
            @include breakpoint($mobile) {
                padding: 75px 0px
            }
            .col-md-6{

                img{
                width: 50%;
            }
        }

            .col-md-6:last-child{
                .col-md-6{
                    width:50%;

                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@include breakpoint($mobile) {

    .slick-next, .slick-prev{
        width: 40px !important;
        height: 40px !important;
    }

    .slick-next:before, .slick-prev:before{
        padding: 6px !important;
    }
}