body.page-template-page-impressive{

    h2{
        font-weight: bold;
    }

    section{

        padding: 75px 0px ;
        p{
            text-align: left;
        }
        

        &.title, &.intro{
            padding:0px;
            
        }

        &.intro{

            p br{
                display: none
            }

            h2{
                text-align: left;
            }

            td{
                width: 50%;
                                        padding: 0px;

            }

            td:last-child{

                table{
                    width: 100%;

                    td{
                        width: fit-content;

                        &:last-child{
                            right:50px;
                            position: relative;
                        }
                    }
                }

                img{
                    width: 150px;
                    display:inline;
                    float: left;
                }

                .inner{
                right:50px;
                height: fit-content;
                background: white;
                padding: 35px;
                position: relative;
                display:inline;
                float: left;
                z-index: 9;
                }
            }
        }

        &.full{
            position: relative;

            p br{
                display: none;
            }
        }


        &.full.blue{
            position: relative;
            img{
                width:150px;
                text-align: center;
            }

            p{
                margin-top:15px;
            }
        }

        &.construction{
            padding: 75px 0px 130px 0px;

            .col-md-6{
                text-align: center;
            }



            H2{
                color: black;
                font-weight: bold;
                text-align: center;
            }
            p{
                text-align: center;
            }

            img{
                width:150px !important;
                text-align: center;
                width:fit-content;
                margin-bottom:20px;
            }

            .video-slider img{
                width: 100% !important;
            }


            
        }

        &.video-slide{
            background: #ececec;

            img{
                width: 100% 
            }

            // video#screen{
            //     position: absolute;
            //     top:20vh;
            //     z-index: 9999
            // }

            video{
                position:absolute
            }

            h2{
                color: black;
                text-align: left;

                @include breakpoint($mobile) {
                    margin-top:40px;
                }
            }

            p{
                margin-left: 15px;
            }

            h2{
                margin: initial;
                margin-left: 15px;
                margin-bottom: 20px;
                @include breakpoint($mobile) {
                    margin-top:30px;
                }

            }

            .align{
                display: flex;
                justify-content: center;
                /* align-self: center;    <---- REMOVE */
                align-items: center;   /* <---- NEW    */
            }
        }
    }

    .outer-video{
        z-index: 9999999;
        display: none;
        width: 50%;
        position: absolute;
        width: 100%;
        bottom: 0vh;

        .fa.fa-window-close{
            z-index: 99999;
            position: relative;
            display: block;
            right: 30px;
            top: 60px;
            float: right;
            font-size: 30px;
        }

    }
    .lightbox-background{
        display:none;
        background:rgba(0,0,0,0.8);
        width:100%;
        position: fixed;
        height: 100%;
        z-index: 999;
        top: 0px
    }


}