@include breakpoint($tablet-portrait) {

    body.home .support .col-lg-6.first{
        padding-left: 0px;
    }
    body.home {

        h1.desktop-title{
            top:-10px
        }
        
        .button-container-desktop {
            // display: none !important;
        }
        i.fa-play-circle-o{
            font-size: 100px;
            color: white;
            display: block;
            position: absolute;
            top: 40%;
            left: 45%;

            a{
                width: 100px;
                height: 100px;
                display: block;
                position: absolute;
                top: 0px;
            }
        }
        h1.mobile{
            display:block;
            color: black;
            text-shadow: none;
            padding: 30px 0px;
        }

        .trigger{
            display: none
        }

        h1.desktop{
            display: none
        }
        .video{
            p{
                padding-top: 30px !important;
            }
            video{
                display: none;
            }
        
            }

 h1{
    order: 1;
}
img.hide{
                display:block !important;
                order: 2;
            }
        }
    }
            
            @include breakpoint($tablet-portrait) {
    body.home {

        

        .video{
padding-bottom:50px;


        .layer{
            position: relative;
            margin-top:20px;

            h1, p{
                color: black;
                text-shadow: 0 0 0px #000;
padding: 0px 20px;
display: block;
            }

            p br {
                display: none;
            }
        }
    }

    #section1.specificities{

    .blue{

        h2 br{
            display: none;
        }
        p{
            display: none
        }
    }    }

    #section2.collections{
        height: auto !important;
        padding-bottom: 50px;

        
    }
        
        .section.support {

            .row > .first{
order: 2
            }


            .row > .second{
                order: 1
                            }

            .gform_wrapper .top_label input.medium,
            .gform_wrapper .top_label select.medium {
                width: 100% !important;
            }
            .col-md-12 {
                .col-md-6{
                    padding: 10px
                }
            }

            form{
                padding: 10px;
            }
        }
    }
}
@include breakpoint($mobile) {

  
    .container-fluid  h1.showmob{
        display:block !important;
    }
        .col-xl-2.col-lg-3.col-md-3{
            width:70%;
        }

    .col-md-7.tohide{
        display: none
    }
    
h1.desktop-title{
    display:none !important
}

.logo img{
    width:200px;
}

    body.home .video strong{
        display: block;
        margin-top: 30px;
        font-size: 20px;
    }
    body.home i.fa-play-circle-o{
        top:32%;
        opacity:1;
        left: 40%;
    }
    .gform_wrapper textarea.medium{
        height: 80px !important;
    }

    body.home .collections .collections-slider .slick-next:before, body.home .collections .collections-slider .slick-prev:before{
        padding:6px !important
    }

    body.home .collections .collections-slider .slick-next:before{
        right:3px;
    }

    body.home .collections .collections-slider article .inner-title{
        position: relative;
        margin-top: 40px;
        top:0px;
        display:inline-block !important;

        h2{
            text-shadow:0 0 00px #000;
            color: black;
        }

    }

    body.home .collections .collections-slider article a{
        margin-top: 60px;
display: block;
margin-left: auto;
margin-right: auto;
position: relative;
top: 0px;
    }
    body.home .collections .collections-slider .slick-prev:before{
        left: 3px;
    }
    body.home .collections .collections-slider .slick-next, body.home .collections .collections-slider .slick-prev
{width:40px !important;
height: 40px !important;
}

}