body.home {

  .container-fluid h1.showmob{
  display: none
}

  img.hide{
    display: none;
  }

  i.fa-play-circle-o{
opacity:0.7;
font-size:140px;
color: white;
display: none
  }

  h1.mobile{
    display:none
  }

  .modal{
    max-width: 100%;
    height: auto;
    padding: 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;

    .wp-video{
      width: 100% !important;
    }

//     .wp-video-shortcode{
//       width: 100% !important;
// height: auto !important ;    }
//   
  }
  header{
    display: none;
  }
  footer{
    display:none
  }
    .video {
header{
  display: block;

  .col-xl-8{
    max-width: 63.666667%;
    @include breakpoint($desktop) {
      max-width: 58%;

    }
    @include breakpoint($tablet-portrait) {
      max-width: 44%;

    }
    @include breakpoint($mobile) {
      width: initial;
      flex: initial;
      max-width: initial;
    }
  }

  .col-lg-3{
    max-width: 18%;

    @include breakpoint($desktop) {
      max-width: 21%;
    }
    @include breakpoint($tablet-portrait) {
    max-width: 28%;
    flex: 0 0 28%;
}

@include breakpoint($mobile) {

  i.fa-linkedin-square,  i.fa-facebook-square{
    display: none;
  }
width: 0px;
    flex: initial
  

}


@include breakpoint($sm-mobile) {

  .col-lg-3{
    width: 0px;
  }
}

  }

  .col-xl-2.col-lg-3.col-md-3{
    @include breakpoint($mobile) {
    max-width: initial;
    width: 82%
    }
  }
}
    
        // display: -webkit-box;
        // display: -ms-flexbox;
        // display: flex;
        // -webkit-box-align: center;
        // -ms-flex-align: center;
        // align-items: center;
        // -webkit-box-pack: center;
        // -ms-flex-pack: center;
        // justify-content: center;
        //  padding: 0px 0px 12% 0px; 
        // position: relative;
        overflow: hidden;
        video {
            position: relative;
            right: 0;
            bottom: 0;
            top: 0;
            right: 0;
            // width: 100%;
            // height: auto;
            width: 100%;
            height:80vh;
            background-size: 100% 100%;
            background-color: black;
            /* in case the video doesn't fit the whole page*/
            background-position: center center;
            background-size: contain;
            object-fit: cover;
            /*cover video background */
            z-index: -1;
        }
        .layer {
            position: absolute;
            z-index: 4;
            width: 100%;
            left: 0;
            top:20%;
            /* 
		* Preventing flicker on some browsers 
		* See http://stackoverflow.com/a/36671466/1081396  or issue #183
		*/
            -webkit-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

            i.fa-play-circle-o{
              opacity:0.7;
              font-size:140px;
              color: white;
              display: block
                }
            p{
              display: none;
            }
        }
        .container-fluid {
            max-width: 100%;
            width: 100%;
            margin: 0px;
            padding: 0px;
        }
        #video_overlay_wrapper {
            width: 100%;
            text-align: center;
            position: relative;
            margin: 0 auto;
            display: block;
            margin-top: 15%;
        }
        h1,
        p {
            // color: white;
            // text-shadow: 0 0 10px #000;
            color:black;
            text-transform: initial;
            padding-bottom:30px;
            background:white;
            z-index:99;
            display: block;
        }

        h1{
          color: $purple;
          font-size:30px;
          top:5px;
          position: relative;
          @include breakpoint($desktop) {
            font-size:27px;
          }
        }

        strong{
          font-style: italic;
        }
        p {
            margin-top: 30px;
        }
        .button-container-desktop {
            text-align: center;
            // a.button {
            //     margin-top: 20px;
            //     background: white;
            //     display: inline-block;
            //     &:hover{
            //       -webkit-transition: all 0.2s linear;
            //       transition: all 0.2s linear;
            //       background: $purple;
            //       color: white;
            //     }
            // }
            position: relative;
            display: block;
            margin-top: 20vh;
        
            .button-primary{
              background: none;
              border:0px solid red;
            }
        }
    }
    .specificities {
        .blue {
            background: $blue;
            padding: 20px 0px;

            p{
              display:block;
              margin:20px 0px 0px 0px;
              color: white;
              width: 100%;
            }
        }
        h2 {
            color: white;
            text-align: center;
            margin: 0 auto
        }
        // Fonts

// Accordion Height
$a-height: 80vh;

// Position text along bottom
$text-offset: $a-height - 90;

// Page Title
h1 {
  
  text-align:center;
  font-family:Montserrat,sans-serif;
  color:#333;

}

.accordion {

  // width:100%;
  // max-width:100%;
  // height:$a-height;
  // overflow:hidden;
  // margin:0px auto;

  ul {

    width:100%;
    display:table;
    table-layout:fixed;
    margin:0;
    padding:0;

    li {

      display:table-cell;
      vertical-align:bottom;
      position: relative;
      width:33%; // 6 into 100
      height:$a-height;
      background-size: cover;
      background-repeat:no-repeat;
      background-position:center center;
      box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.4), -12px 0 8px -4px rgba(0, 0, 0, 0.4);      
      transition:all 500ms ease;


      h2{
        top: 25%;
        position: absolute;
        text-shadow: 0 0 10px #000;
        text-align: center;
        width: 100%;
      }

      .fade-content{
        opacity: 0;
        display: block;
        overflow: hidden;
        width: 100%;
        top: 40%;
        position: absolute;
        text-align: center;
        transition:all 500ms ease;

        p{
        color: white;
        font-weight: bold;
        text-shadow: 0 0 10px #000;
      }
    }

      div {
        
        display:block;
        overflow:hidden;
        width:100%;

        &.button-primary {
          padding: 10px 50px;
          border: 3px solid $purple;
          color: $purple;
          text-transform: initial;
          background: white;
          width: fit-content;
          height: auto;
          margin: 0 auto;
          display: block;

          a{
            text-align: center;
            &:hover{
              -webkit-transition: all 0.2s linear;
              transition: all 0.2s linear;
              background: $purple;
              color: white;
            }
          }
      }

        a {
          
          display:block;
          position:relative;
          z-index:3;
          vertical-align:bottom;
          padding:15px 50px;
          box-sizing:border-box;
          color:#fff;
          width: fit-content;
          margin: 0 auto;
          text-decoration:none;
          font-family:Open Sans, sans-serif;
          
          transition:all 200ms ease;

          &:hover{
            -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
            background: $purple;
            color: white;
          }
          * {

            opacity:0;
            margin:0;
            width:100%;
            text-overflow:ellipsis;
            position:relative;
            z-index:5;
            
            white-space:nowrap;
            overflow:hidden;
            
            -webkit-transform:translateX(-20px);
            transform:translateX(-20px);

            -webkit-transition:all 400ms ease;
            transition:all 400ms ease;

          }

          h2 {

            font-family:Montserrat,sans-serif;
            text-overflow:clip;
            font-size:24px;
            text-transform:uppercase;
            margin-bottom:2px;
            
            top:$text-offset;

          }
          
          p {
            
            top:$text-offset;
            font-size:13.5px;
            
          }

        }

      }

    }
    
    // Background images
    li:nth-child(1) { background-image:url('../assets/img/02.jpg'); }
    li:nth-child(2) { background-image:url('../assets/img/03.jpg'); }
    li:nth-child(3) { background-image:url('../assets/img/04.jpg'); }
   

    &:hover li { width:8%;

      opacity: 0.5 !important;

      h2{
        opacity: 0
      }

      &.button-primary {
        padding: 10px 30px;
        border: 3px solid $purple;
        color: $purple;
        text-transform: initial;
        background: white;
        width: fit-content;
        height: auto;
        margin: 0 auto;
        display: block;

        a{
          text-align: center;
          &:hover{
            -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
            background: $purple;
            color: white;
          }
        }
    }

    

    }

    &:hover li:hover {

      opacity: 1 !important;

      width:60%;

      h2{
        opacity: 1
      }
      .fade-content{
        opacity: 1;
        transition:all 500ms ease;

      }
      a {

        
        &.button-primary {
          padding: 10px 30px;
          border: 3px solid $purple;
          color: $purple;
          text-transform: initial;
          background: white;
          width: fit-content;
          height: auto;
          margin: 0 auto;
          display: block;

          &:hover{
            -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
            background: $purple;
            color: white;
          }

          a{
            text-align: center;

            &:hover{
              -webkit-transition: all 0.2s linear;
              transition: all 0.2s linear;
              background: $purple;
              color: white;
            }
          }
      }

        background:rgba(0,0,0,0);
        
        * {
          
          opacity:1;
          -webkit-transform:translateX(0);
          transform:translateX(0);
        
        }
      
      }

    }

  }

}

// Stack items
@media screen and (max-width: 600px) {
  
  // IE gets fussy if this isn't here
  body { margin:0; }
  
  .accordion {
    
    height:auto;
    
    ul,ul:hover {
      
      li,li:hover {
        
        position:relative;
        display:table;
        table-layout:fixed;
        width:100%;
        
        -webkit-transition:none;
        transition:none;
        
      }
      
    }
    
  }

}

.about {
  
  text-align:center;
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  color:#666;
  
  a {
    
    color:blue;
    text-decoration:none;
    
    &:hover { text-decoration:underline; }
    
  }
  
}
          
    }

    .collections {

      height: 100vh !important;

      .blue {
          background: $blue;
          padding: 20px 0px;
          // position: absolute;
          width: 100%;
          top: 0px;
      }
      h2 {
          color: white;
          text-align: center;
          margin: 0 auto
      }

      .collections-slider{

        margin-top:50px;

        .slick-slide{
          margin:0px 20px;
          opacity: 0.5;
                  -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

          &.slick-current{
            opacity: 1;
                    -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        .inner-title{
          display: block;
        }
          }
          
          img{
            width: 100%;
            height: auto;
          }
        }

      article{
        width: 100%;
        position: relative;

        .inner-title{
          position: absolute;
          top:35%;
          width: 100%;
          text-align: center;
          display: none
        }

        h2{
          position: absolute;
          top:0;
          text-shadow: 0 0 20px #000;
          width: 100%;
          text-align: center;
        }
        
        a{
          top:70px;
          position: relative;
          -webkit-transition: all 0.2s linear;
          transition: all 0.2s linear;
          &:hover{
            text-decoration: none;
            -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
            background: $purple;
            color: white;
          }
        }
     
      }

      .slick-next:before, .slick-prev:before {
        content: "" !important;
        display: inline-block !important;
        padding: 12px !important;
        position: relative;
        border-color: #000 !important;
        border-style: solid !important;
        border-width: 0 4px 4px 0 !important;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .slick-prev:before {
      left: 6px;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
  }

  .slick-next:before {
    right: 6px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

      .slick-prev {
        left: 40px !important;
    }

      .slick-next, .slick-prev {
        height: 70px !important;
        width: 70px !important;
        z-index: 1 !important;
        background-color: #fff !important;
        border-radius: 35px;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    }
    }

    .support{

      .col-lg-6.first{
        padding-left: 50px;
      }

      .gform_wrapper textarea.medium{
        height: 80px;
      }

      input#input_2_9_3, input#input_2_9_5{
        background:#ececec !important;
        margin-top: 10px !important;
          }

      select{ -webkit-appearance: none;
        -webkit-border-radius: 0px;
        border-bottom: 2px solid $grey
      }
      footer{
        margin-top:40px;
        display: block;
      }
      .blue {
        background: $blue;
        padding: 20px 0px;
        // position: absolute;
        width: 100%;
        top: 0px;
    }
    h2 {
        color: white;
        text-align: center;
        margin: 0 auto;
        display: block;
        position: relative;

        &.black{
          color: $black;
          padding:50px;
        }
    }

    .col-lg-6{
      margin:15px 0px;

      img{
        position: relative;
      }

      h3{
        position: absolute;
        top:20px;
        color: white;
        text-transform: uppercase;
        width: 92%;
        text-align: center;
        font-size:20px;
        text-shadow: 0 0 20px #000;
      }
    }

    .colmargin{
      margin-top:30px;
    }

    }

    #warranty-modal{
      padding:0px ;
      text-align: center;

      h2{
        margin:0px;
        color: white;
        text-align: center;
        margin: 0 auto;
      }

      a{
padding:20px 0px 50px 0px;
        font-size: 24px;
        text-align: center;
        display:block;

        &.residential{
          padding:50px 0px 20px 0px;;
        }

        &:hover, &:focus, &:active{
          text-decoration: none;
          color: black;
        }
      }
    }

    .gform_confirmation_message_2{
      font-weight: bold;
      text-align: center;
      font-size: 24px;
    }

}