header {
    padding: 20px 0px;
    z-index: 999;
    position: relative;
    display: block;
    width: 100%;
    background: white;
    ul#primary-menu {
        li.menu-item {
            display: inline-block;
            float: left;
            padding: 0px 15px;
        }
    }
    .fa {
        font-size: 40px;
        color: $purple;
        margin: 0px 10px;
    }
    .social {

      
        text-align: right;
        top:-10px;
     text-align: right;
     float: right;
     right: 0px;
     position: absolute;
    }
    nav.primary-navigation {

        @include breakpoint($mobile) {
            
            i.fa{
                display: inline-block;
                color: white;
            }

            .container-menu-social{
                position:absolute;
                top:80px;
                width:100%;
            }
        }

        background: $purple;
        color: white;
        position: fixed;
        width: 100%;
        text-align: center;
        top:0px;
        height: 100%;
        display: none;
        z-index: 999999;

        i.fa-times{
            float: right;
            margin: 50px 0px;
            padding-right:50px;
        }
         li {
            display: block;
            width: 100%;
            a {
                color:white;
                font-size: 34px;
                margin: 25px 0px;

                &:hover{
                    cursor: pointer !important;

                }
            }
        }
    }
}