footer{
    background: $purple;

    @include breakpoint($tablet-portrait) {
       
    }
    @include breakpoint($tablet-portrait) {

    .col-lg-6{
        order:2;
        text-align:center;

        p{
            text-align: center
        }
    }
    
    .col-lg-4{
        order:1
    }
}

}

@include breakpoint($tablet-portrait) {

#new_form{
    padding: 0px 60px !important
}

}
