footer{
    background: $purple;
    padding:20px 50px;
    color: white;

    a.scrolltop{
        background: $purple;
        padding: 10px 20px;
        position:fixed;
        bottom:100px;
        float: right;
        right:15px;
        z-index: 9999;

        &:hover{
            i.fa{
                top:-3px;
                position: relative
            }
        }

        i.fa{
            color: white;
            font-size:40px;
            text-align: center;
        }
    }

    img{
        width: 200px;
        padding: 20px 0px;
        display: block;
        margin-left: auto;
    margin-right: auto;

    }
    p{
        margin-bottom: 0px;
        display: block;
        width: 100%;
    }

    .col-lg-6{
        padding:40px 0px;
        position:relative;

        p{
            text-align: left
        }
    }

    .col-lg-4{
        margin-top:30px;
        @include breakpoint($mobile) {
            top: 0px;
        }
    }
}

@include breakpoint($mobile) {

.cta{
display:none
}

}