$sm-mobile: max-width 580px;
$mobile: max-width 768px;
$tablet-portrait: max-width 990px;
$tablet-lanscape: max-width 1024px;
$desktop: max-width 1200px;



.wrap {
    padding: 0 10px;
  
    @include breakpoint($mobile) {
    }

}