.empty {
    min-height: 1px
}

i.fa{
    text-rendering: optimizeLegibility !important;


}

.item{
    a{
        width: 100%;
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        transition: all .3s;

        &:hover{
        cursor: pointer;
        }
        &:hover > img{
        -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
    img{
        width: 100%;
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        transition: all .3s;

        &:hover{
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
}

ul.products{

    article{

        a{
            width: 100%;
            -moz-transition: all .3s;
            -webkit-transition: all .3s;
            transition: all .3s;

            &:hover{
            cursor: pointer;
            }
            &:hover > img{
            -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
        img{
            width: 100%;
            -moz-transition: all .3s;
            -webkit-transition: all .3s;
            transition: all .3s;

            &:hover{
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }
}

img{
    width: 100%;
    height: auto;
}

.container-fluid {
    padding: 0px;
}

a.button-primary {
    padding: 10px 50px;
    border: 3px solid $purple;
    color: $purple;
    text-transform: initial;
    background: white;
    width: fit-content;

    &:hover{
        text-decoration: none;
    }
}

.black {
    color: $black
}

.row {
    &.blue {
        background: $blue;
        padding: 40px 0px;
        margin: 0px;
    }
}

h1 {
    color: white;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}

h2 {
    color: white;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 35px;
    &.black {
        color: $black;
    }
}

.full {
    padding:75px 0px;

    &.purple {
        background: $purple;
        text-align: center;
        h2 {
            color: white;
            text-align: center;
        }
        p {
            margin-top: 65px;
            color: white;
            text-align: center;
        }
    }

    &.blue {
        background: $blue;
        text-align: center;
        h2 {
            color: white;
            text-align: center;
        }
        p {
            margin-top: 65px;
            color: white;
            text-align: center;
        }
    }
}

input, select, textarea{
    background: white;
    border-radius: 0px;
    border-top: 0px solid white;
    border-right: 0px solid white;
    border-left: 0px solid white;
}

select{
    height: 40px;

    &#input_2_9_4{
        display: none
    }
}

textarea{
    // resize: vertical;
    // position: relative;

    &::-webkit-input-placeholder {
        font-size: 14px;
        color: black;
        text-transform: uppercase;
        text-transform: uppercase;
        font-weight: bold;
        bottom: 10px;
        position:relative;
        top: 40px;
       }
       &:-moz-placeholder { /* older Firefox*/
                font-size: 14px;
        color: black;
        text-transform: uppercase;
        text-transform: uppercase;
        font-weight: bold;
        bottom: 10px;
        position:relative;
        top: 40px;
       }
       &::-moz-placeholder { /* Firefox 19+ */ 
               font-size: 14px;
        color: black;
        text-transform: uppercase;
        text-transform: uppercase;
        font-weight: bold;
        bottom: 10px;
        position:relative;
        top: 40px;
       } 
       &:-ms-input-placeholder { 
         font-size: 14px;
        color: black;
        text-transform: uppercase;
        text-transform: uppercase;
        font-weight: bold;
        bottom: 10px;
        position:relative;
        top: 110px;
       }
    
}



.gform_heading, label{
    display: none !important;
  }


.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
    display: inline-block !important;
    padding-left: 10px !important;
    top:4px;
    position: relative;
}
.gform_wrapper ul.gfield_radio li{
    line-height: 30px !important;
}

#gform_submit_button_2{
    border:3px solid $purple;
    padding:10px 70px;
    float: right;
    font-weight: bold;
    cursor:pointer !important;
        -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    
&:hover{
    cursor:pointer !important;
background: $purple;
color: white;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
}