h1{
    font-size:45px;
    text-align:center;
}

p{
    text-align:center;
}

body, a{
    color:$black
}

@media screen and (-webkit-min-device-pixel-ratio:0) { @font-face { font-family:'FontAwesome'; src: url('fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg'); } }