body.archive.category {

    select.cat-dropdown{
        display:none
    }
    
    .collections-slider-page{
margin-bottom: 0px;
        a.button{
            background: $purple;
            color: white;
            margin-top: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;

            &:hover{
                text-decoration: none;
            }
        }

        .slick-slide{
          margin:0px 20px;
          opacity: 0.5;
                  -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

          &.slick-current{
            opacity: 1;
                    -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        .inner-title{
          display: block;
        }
          }
          
          img{
            width: 100%;
            height: auto;
          }
        }

        table {
            width: 100%;
            margin: 0px !important;
            tr {
                td {
                    width: 50%;
                    padding: 0px;
                    &:last-child {
                        text-align: center;
                        background: white;
                        right: 50px;
                        position: relative;
                    }
                    .inner {
                        background: white;
                        right: 50px;
                        position: relative;
                        padding: 50px;
                    }
                }
            }
        }

    }

    h2 a.cat-title{
        text-align: center;
color:black;

&:hover{
    color: black;
}
    }


    h2,
    p {
        text-align: left
    }
    ul.categories {
        margin-top: 75px;
        float: left;
        li {
            background: white;
            color: black;
            display: inline-block;
            float: left;
         
            a {
                color: black;
                font-weight: bold;
                border: 3px solid $purple;
                margin: 0px 10px;
                padding: 10px 30px;

                &:hover{
                    text-decoration: none;
                }
            }

            &.current-cat{

                a{
                    background: $purple;

                    color: white;
                }
            }
        }
    }
    ul.products {
        padding: 0px;
        margin-top: 75px;
        width: 100%;
        display: inline-block;
        
        article {
            display: inline-block;
            float: left;
            margin: 10px 0px;
            a {
                display: block;
                float: left;
            }
            h2 {
                position: absolute;
                top: 0px;
                font-size: 20px;
                font-weight: bold;
                top: 0;
                bottom: 0;
                text-align: center;
                margin: auto;
                width: 93%;
                height: 10%;
                text-shadow: 0 0 10px #000;
            }
        }
    }
}

footer {
    float: left;
    width: 100%;
}