body.archive.category {
    
    @include breakpoint($tablet-lanscape) {
        
        ul{
            &.products{

            article{
                h2{
                    font-size: 16px;
                }
            }
        }
        }

        .collections-slider-page table tr td:last-child{
            right: 0px;
        }
    }

    @include breakpoint($tablet-portrait) {

        ul.categories{
            display: none;
        }

        select.cat-dropdown{
            width: 95%;
    margin: 0 auto;
    display: block;
    background: $purple;
    border: 0px;
    padding: 10px;
    color: white;
    margin-top: 40px;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    background-image: url(http://redcube.lk/images/icons/rightArrow.png);
    text-transform: uppercase;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 7px
        }

        ul.products{
            margin-top:35px;
        }

    }

    @include breakpoint($mobile) {

        .collections-slider-page table tr td{
            width: 100%;
            float: left;
            display: block;
        }

        button.slick-arrow{
            margin-top:-50px;
        }

       .collections-slider-page table tr td .inner{
           right: 0px;
           padding: 0px;
           margin-top: 20px;

           h2{
               text-align: center;
           }

           p{
               margin: 0px 20px;
           }
       }

    }
    
}