body.page-template-page-collections {

    select.cat-dropdown{
        display:none
    }

    .collections-slider-page{
        margin-bottom: 0px;
                a.button{
                    background: $purple;
                    color: white;
                    margin-top: 50px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
        
                    &:hover{
                        text-decoration: none;
                    }
                }
        
                .slick-slide{
                  margin:0px 20px;
                  opacity: 0.5;
                          -webkit-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
        
                  &.slick-current{
                    opacity: 1;
                            -webkit-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
        
                .inner-title{
                  display: block;
                }
                  }
                  
                  img{
                    width: 100%;
                    height: auto;
                  }
                }
        
                table {
                    width: 100%;
                    margin: 0px !important;
                    tr {
                        td {
                            width: 50%;
                            padding: 0px;
                            &:last-child {
                                text-align: center;
                                background: white;
                                right: 50px;
                                position: relative;
                            }
                            .inner {
                                background: white;
                                right: 50px;
                                position: relative;
                                padding: 50px;
                            }
                        }
                    }
                }
        
            }
        

    h2 a.cat-title{
        text-align: center;
color:black;

&:hover{
    color: black;
}
    }
    table {
        width: 100%;
        tr {
            td {
                width: 50%;
                padding: 0px;
                &:last-child {
                    text-align: center;
                }
                .inner-center {
                    display: inline-block
                }
            }
        }
    }
    h2,
    p {
        text-align: left
    }
    ul.categories {
        margin-top: 75px;
        float: left;
        li {
            background: white;
            color: black;
            display: inline-block;
            float: left;
           
            a {
                border: 3px solid $purple;
                margin: 0px 10px;
                padding: 10px 30px;
                color: black;
                font-weight: bold;

                &:hover{
                    text-decoration: none;
                }
            }

            &:first-child{

                a{
                    background: $purple;

                    color: white;
                }
            }
        }
    }
    ul.products {
        padding: 0px;
        margin-top: 75px;
            float: left;
        article {
            display: inline-block;
            float: left;
            margin: 10px 0px;
            a {
                display: block;
                float: left;
            }
            h2 {
                position: absolute;
                top: 0px;
                font-size: 20px;
                font-weight: bold;
                top: 0;
                bottom: 0;
                text-align: center;
                margin: auto;
                width: 93%;
                height: 10%;
                text-shadow: 0 0 10px #000;
            }
        }
    }
}

.slick-next:before, .slick-prev:before {
    content: "" !important;
    display: inline-block !important;
    padding: 12px !important;
    @include breakpoint($mobile) {
        padding: 6px !important;

    }
    position: relative;
    border-color: #000 !important;
    border-style: solid !important;
    border-width: 0 4px 4px 0 !important;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.slick-prev:before {
  left: 6px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.slick-next:before {
right: 6px;
-webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
}

  .slick-prev {
    left: 40px !important;
}

.slick-next {
    right: 40px !important;
}

  .slick-next, .slick-prev {
    height: 70px !important;
    width: 70px !important;
    z-index: 1 !important;
    background-color: #fff !important;
    border-radius: 35px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    @include breakpoint($mobile) {
        width: 40px !important;
        height: 40px !important;
    }
    }


footer {
    float: left;
    width: 100%;
}