@include breakpoint($tablet-portrait) {
    body.page-template-page-installation  {

        p br{
            display: none
        }

        section.intro td{
            width: 100%;
            display: block;

           
            &:last-child{
                width: 100%;

                display: inline-block;
                img{
                    width: 150px;
                    padding-left: 0px !important;
                    margin: 0 auto;
                    display: block;
                    margin-top: 20px;
                    padding-top:30px
                }
                @include breakpoint($mobile) {
                    width: 100%
                }
                .inner{
                right: 0px;

                p br{
                    display: none 
                }
                }
            }

        }

        section.full{
            p{
                padding: 0px 20px;
            }
        }

        section.construction{
            @include breakpoint($mobile) {
                padding: 75px 0px;
            }
            table{
                tr{

                

            td{
                width: 100%;
            }
        }
    }

            td{
                width: 100%;
                display: block;

                a{
                    display: block;
                }

                &:last-child{
                    padding-top: 50px;
                }
            }
        }
    }
}

@include breakpoint($tablet-portrait) {
    body.page-template-page-installation  {
        section.intro td:last-child td:first-child{
            width: 100%
        }

    }
}