body.page-template-page-installation{

    h2{
        font-weight: bold;
    }

    section{

        padding: 75px 0px ;
        p{
            text-align: left;
        }
        

        &.title, &.intro{
            padding:0px;
            
        }

        &.intro{

            a:hover, a:focus, a:active{
                color: black;
            }

            p br{
                display: none
            }

            h2{
                text-align: left;
                font-weight: bold;
            }

            span{
                float: right;
            }

            td:last-child{

                .inner{
                right:50px;
                height: fit-content;
                background: white;
                padding: 35px;
                position: relative;
                z-index: 9;
                }

                td:first-child{width:70%}
            }

            td{
                padding: 0px;
                width: 50%;

                td{
                    width: initial;
                }
&:last-child{
                img{
                    padding-left:20px;
                   
                }
            }
        }
        }

        &.full{
            position: relative;
            // p br{
            //     display: none;
            // }
        }
        
        &.construction{
            position: relative;
            padding: 75px 0px 130px 0px;
            table{
                tr{

                

            td{
                width: 50%;
            }
        }
    }
            a{
                color: white;
                font-weight:bold;
                background: $blue;
                padding: 10px 50px;
                text-align: center;
                font-size:22px;

                &:hover{
                    text-decoration: none;
                }
            }
            p{
                text-align: left;
            }

            h2{
                color: black;
                text-align:left;
                font-weight: bold;
            }
table{
    width: 100%;
}
            td{

                &:last-child{
                    padding-left: 20px;
                    img{
                        display: block;
                        float: left;
                        width: 33%;
                        padding: 0px 10px;                    }
                }

                .row.icons{
                    img{
                        width: 100%;
                    }

                    .col-md-3{
                        padding:0px;
                    }
                }
            }

          

        }

        &.full.purple{
            img{
                width: 150px;
                fill: red !important;

                
            }


            a{
                background: white;
                padding:10px 50px;
                color: black;
                margin-top:20px;
                font-size:20px;
                display: block;
                position: relative;
                width: fit-content;
                margin-left: auto;
margin-right: auto;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }


    #warranty-modal{
        padding:0px ;
        text-align: center;
        border-radius: 0px;
  
        h2{
          margin:0px;
          color: white;
          text-align: center;
          margin: 0 auto;
        }
  
        a{
  padding:20px 0px 50px 0px;
          font-size: 24px;
          text-align: center;
          display:block;
  
          &.residential{
            padding:50px 0px 20px 0px;;
          }
  
          &:hover, &:focus, &:active{
            text-decoration: none;
            color: black;
          }
        }
      }
}