@include breakpoint($tablet-portrait) {
    body.page-template-page-water  {

        p br{
            display: none
        }

        section.intro td{
            width: 100%;
            display: block;

            &:last-child{

                .inner{
                right: 0px;

                p br{
                    display: none
                }
                }
            }

        }

        section.full{
            p{
                padding: 0px 20px;
            }
        }
    }
}