body.page-template-page-water{


    h2{
        font-weight: bold;
    }
    section{

        padding: 75px 0px ;
        p{
            text-align: left;
        }
        

        &.title, &.intro{
            padding:0px;
            
        }

        &.intro{

            h2{
                text-align: left;
            }

            td{
                width: 50%;
                padding: 0px;

            }

            td:last-child{

                .inner{
                right:50px;
                height: fit-content;
                background: white;
                padding: 35px;
                position: relative;
                z-index:9;
                }
            }
        }

        &.full{
            position:relative;
            p{
                text-align: center
            }
            // p br{
            //     display: none;
            // }
        }

        #parallax-id-3{
            positio : relative
        }
        
        &.construction{
            position: relative;
            p{
                text-align: left;
            }

            td{
                padding:10px 0px;
                img{
                    width:80px;
                    padding-left:10px;
                }

                &:last-child{
                    margin-left:20px;
                    display: block;
                }
            }
        }
    }
}