body.page-template-page-faq {

    .section.faq{
        padding-top: 50px;
    }

 h3{
    color: black;
    font-weight: 600;
    padding-bottom: 5px;

    &:hover, &:focus, &.active{
        color: black;
        text-decoration: none;
    }
    }

    h3:hover{
        color: black !important;
    }

    h2{
        color: black;
        text-align:left;
        margin:50px 0px
    }

    .accordion {
        p{
            text-align: left;

            a{
                text-decoration: underline

             
            }

        }

        dt{
padding: 10px 0px        }

&.maintenance{
    padding-bottom: 50px;
}
}
}