body.page-template-page-holding {

    section.armstrong{
        position: absolute;
        width: 100%;
        top: 50px;
        z-index: 999;

        a{
            float: right;

            img{
                width: 300px
            }
        }
    }

    table {
        tr {
            td {
                width: 50%;
                img {
                    width: 100%;
                    &.one {
                        padding-bottom: 6px;
                    }
                    &.two {
                        padding-top: 7px;
                    }
                }
            }
            td:last-child {
                padding: 11px 0px 11px 11px;
            }
        }
    }
    section.cta-outer {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 30%;
        .cta {
            background: white;
            padding: 10px;
            width: fit-content;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            .inner {
                border: 5px solid $blue;
                padding: 10px 30px;
                z-index: 9;
                position: relative;
                h1 {
                    color: $purple;
                    text-transform: initial;
                    font-size: 24px;
                    text-align: left;
                    line-height: 36px;
                    margin-top: 30px;
                }
                h2 {
                    color: $blue;
                    text-transform: initial;
                    font-size: 26px;
                    text-align: left;
                    font-style: italic;
                    font-weight: bold;
                    margin-top: 20px;
                }
            }
            .box {
                width: 75px;
                height: 75px;
                background: $purple;
                float: right;
                top: -40px;
                position: relative;
                left: 35px;
                width: 80px;
                height: 80px;
                background: #33257c;
            }
        }
    }
    section.full.purple {
        padding: 30px 0px;
        margin: 0px 0px 50px 0px;
        p {
            margin: 0px;
            font-weight: bold;
            font-size: 30px;
        }
    }
    section.sub-heading {

        table{
            background: $purple;
            width: 100%;
            margin: 0px 0px 50px 0px;

            .one{
                background: white;
                width: 100%;
                height: 6px;
                margin:10px 0px;
            }

            .two{
                background: $blue;
                width: 70%;
                height: 6px;
                margin:10px 0px;
            }

            td:first-child{
                width:40%
            }

            td:last-child{
                width:60%
            }
            td{
                padding-right: 50px
            }

        }
        p {
            margin: 0px;
            font-weight: bold;
            font-size: 35px;
            letter-spacing: 1.5px;
            text-align:left;
            color: white;
        }
    }

    section.contact{
        background-size: contain;
    background-image: url(../assets/holding/bg.jpg);
padding-bottom: 0px;
background-repeat: no-repeat;
    background-position-x: center;

        h2{
            font-size: 45px;
            letter-spacing: 1.5px;
            color: $purple;
            font-weight: 300;
            text-transform: initial;
        }

        ul.gfield_radio label{
            display: inline-block !important;
            padding-left: 20px;
            font-size: 16px;
            font-weight: 600;      
          }

          li#field_2_8{
              margin: 20px 0px !important;

              .gfield_description{
                  font-size: 16px !important;
              }

              ul{
                  li{
                      margin-bottom:0px !important;
                      line-height: 35px;
                  }
              }
          }

        label{
            display: none !important
        }
        
        .gform_wrapper ul.gform_fields li.gfield{
            padding-right: 16px;
            padding: 5px 10px;
            background: white;
        }

        li#field_2_8{
            background: transparent;
        }
        input, select, textarea{
            width: 100% !important;
            font-size: 16px !important;
            color: $purple;
            border: 2px solid $blue;
        }

        select{
            height: 45px;
        }

        body .gform_wrapper .top_label div.ginput_container {
            margin-top: 0px !important;
        }

        .gform_wrapper ul.gform_fields li.gfield{
            margin-top:0px !important;
        }

        .gform_heading{
            display: none
        }

        input#gform_submit_button_2{
width:300px;
background: $purple;
color: white;
font-weight: bold;
padding: 20px 60px;
border: 0px solid white;
        }
    }
}