@include breakpoint($tablet-portrait) {

    body.page-template-page-holding {

        section.cta-outer {
            height: 50%;
        }

        section.armstrong{
            position: absolute;
            width: 100%;
            top: 50px;
            z-index: 999;
    
            a{
                float: right;
    
                img{
                    width: 200px
                }
            }
        }

}

@include breakpoint($mobile) {


body.page-template-page-holding {

    header{
        img{
            width: 200px
        }
    }

    section.cta-outer{
        .col-md-4{
            padding: 0px !important;
        }
    }

    section.contact{
        padding: 0px !important
    }

    section.armstrong{
        position: absolute;
        width: 100%;
        top: 50px;
        z-index: 999;

        a{
            float: right;

            img{
                width: 150px
            }
        }
    }

    section.cta-outer {
        height: 0%;
    }

section.grid{
    table{
        tr{
            td{
                padding: 0px;
                width: 100%;
                display: block;

                img.two{
                    display: none
                }
            }
        }
    }
}

section.contact{
    padding:0px 20px
}
}
}
}